<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Book Buddies</title>
  <link rel="stylesheet" type="text/css" href="/css/styles.css" />
</head>

<body>
  <header>
    {{!-- container for top of header --}}
    <div> 
      <a href="/"><div>
        <h1>BookBuddies</h1>
        <h2>Prose Before Bros</h2>
      </div></a>
        <!-- login or logout -->
        {{#if logged_in}}
        <p>Welcome, {{name}}!</p>
        <a href="/profile">profile</a> |
        <button id="logout">logout</button>
        {{else}}
        <a href="/login">login</a>
        {{/if}}
    </div>
    {{!-- container for bar at bottom of header --}}
    <div></div>

  </header>

  <main>
    {{{ body }}}
  </main>

    <!-- include script for logged in users only -->
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}

</body>

</html>