<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Book Buddies</title>

  {{!-- Stylesheets --}}
  <link rel="stylesheet" type="text/css" href="/css/reset.css" />
  <link rel="stylesheet" type="text/css" href="/css/styles.css" />


  {{!-- google fonts --}}
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Aleo:ital,wght@0,100..900;1,100..900&family=Jost:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>

<body>
  <header>
    {{!-- container for top of header --}}
    <div class="header-top"> 
      <a href="/" class="title-sub-container">
        <h1>BookBuddies</h1>
        <h2>Prose Before Bros</h2>
      </a>
        <!-- login or logout -->
        {{!-- container for login/out/welcome --}}
        <div class="login-out-container">
          {{#if logged_in}}
          <p>Welcome, {{name}}!</p>
          <p>|</p>
          <a href="/profile">My Page</a>
          <p>|</p>
          <a href="" id="logout">logout</a>
          {{else}}
          {{!-- for some reason, on the homepage this will show instead, even though still logged in --}}
          <a href="/login">My Page</a>
          {{/if}}
        </div>
    </div>
    {{!-- container for bar at bottom of header --}}
    <div class="header-bottom"></div>

  </header>

  <main>
    {{{ body }}}
  </main>

    <!-- include script for logged in users only -->
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}

</body>

</html>