

{{!-- Replace this with info from db --}}
<h1>{{bookClub.name}}</h1>

{{!-- added a leave button to remove the user from the group --}}
{{!-- <button  id="leave_btn">Leave Group</button> --}}
<div class="line-horizontal"></div>


{{!-- <p><strong>Members: </strong> Adam, Selena, Stephan, CJ, Hannah</p> --}}
<p><strong>Description: </strong>{{bookClub.description}}</p>
<div class="spacer"></div>

{{!-- <button class="button1">Edit Details</button> --}}

{{!-- <div class="line-horizontal"></div> --}}

{{!-- section for tabs/books --}}
<section class="tabs-section">
    {{!-- div for just the tab buttons --}}
  <div class="tabs">
    <button class="tab-links" onclick="openTab(event, 'library-section')" id="default-open">Club Library</button>
    <button class="tab-links" onclick="openTab(event, 'meetings-section')">Meetings</button>
    {{!-- <button class="tab-links" onclick="openTab(event, 'vote-section')">Voting</button> --}}
  </div>

{{!-- Club Library Tab Content --}}
  <section id="library-section" class="tab-content shadow1">
    <div class="center-flex-column">
        <h3>Add a book to the club library</h3>
        <form id="search-form">
        <input type="text" id="addBook-bar" placeholder="Enter book title" required>
        <button id="addBook" class="button ID:{{bookClub.id}}" type="submit">Add Button</button>
    </form>
   </div>
   <div class="line-horizontal"></div>


{{#each books as |book|}}
<h4>
 - {{book.title}}
</h4>
{{/each}}



  <div id="detailsDisplay">
    <img id="coverImage">
  </div>
  <div id="savedBooksDisplay">


</div>




{{!-- Example Book card to be recreated for each book the user saved --}}
    {{!-- <div class="book-card shadow1">
      <img src="./images/book-img1.png">
      <h3>Lessons in Chemistry</h3>
      <p>Author Name</p>
    </div> --}}

  </section>

{{!-- Meeting Tab Content --}}
  <section id="meetings-section" class="tab-content shadow1">
    <div class="center-flex-column">
        <h3>Upcoming Meetings</h3>
        <button class="button1" id="newMeeting">+ New Meeting</button>
    </div>
    <form id="myForm">
        <div class="form-field">
            <label for="date">Date:</label>
            <input type="text" id="date" name="date" required>
        </div>
        <div class="form-field">
            <label for="time">Time:</label>
            <input type="time" id="time" name="time" required>
        </div>
        <div class="form-field">
            <label for="location">Location:</label>
            <input type="text" id="location" name="location" required>
        </div>
        <div class="form-field">
            <label for="chapter">Book Chapter:</label>
            <input type="text" id="chapter" name="chapter" required>
        </div>
        <div class="form-field">
            <button class="button1" class="form-field-submit" type="submit">Submit</button>
        </div>
    </form>

    <div id="meetingInfo"></div>
  


{{!-- This should be recreated for #each meeting --}}
    {{!-- <p><strong>Date: </strong> Tuesday, July 30, 2024</p>
    <p><strong>Time: </strong>2:00 pm</p>
    <p><strong>Location: </strong>Adam's house</p>
    <p><strong>Book: </strong>"Eloquent JavaScript, Second Edition"</p>
    <p><strong>Read to: </strong>chapter 4</p> --}}
    {{!-- <div class="spacer"></div> --}}
    {{!-- <button class="button1">Edit Meeting</button> --}}
    <div class="line-horizontal"></div>
{{!-- ------------------------- --}}

  </section>

{{!-- Voting Tab Content --}}
  {{!-- <section id="vote-section" class="tab-content shadow1">
    <div class="center-flex-column">
        <h3>Vote on your next book!</h3>
        <p>Instructions for voting or whatever</p>
    </div>
    <div class="line-horizontal"></div>

  </section> --}}

</section>



<script src="https://cdn.jsdelivr.net/npm/js-datepicker"></script>
<script src="/js/bookPost.js"></script>
