<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Book Club</title>
   <link rel="stylesheet" href="./public/css/styles.css">
</head>
<body>
   <h1>Book Club</h1>
   <form id="search-form">
       <input type="text" id="search-bar" placeholder="Enter book title">
       <button type="submit">Search</button>
   </form>
   <div id="book-details">
       <p id="author-name"></p>
       <p id="book-title"></p>
       <p id="publication-year"></p>
       <img id="cover-image" alt="Book Cover" />
       <p id="book-description"></p>
   </div>


   <script src="/js/script.js"></script>
</body>
<script src="./utils/helpers.js"></script>
</html>