<link rel="stylesheet" href="./public/css/club-search.css">

   <h1 id="title">Find a Book Club</h1>
   <form id="search">
       <input type="text" id="search-bar" placeholder="Enter Club Name">
       <button type="submit">Search</button>
       <ul id="displayed-clubs"></ul>
   </form>
   <div id="club-info">
       <p id="club-name"></p>
   </div>


<script src="./js/club-search.js"></script>