<h1>HOMEPAGE</h1>
<h3>Welcome to BookBuddies! Login or create an account to join a book club.</h3>
<a href="/login">Login/Signup</a>
<p>add an automatic reroute from this page to /profile if the user is logged on</p>
<p>This page is basically a landing page since everything we need is on profile and bookclubs</p>
<p>OR it would be better if the log in log off stuff was just moved to here, and still automatically reroute. So either move the login stuff here, or just delete this page and make the login page the homepage</p>