<h1 class="login-page">LOGIN PAGE</h1>

<h2>Login</h2>
<link rel="stylesheet" href="./css/login.css">
<form class="login-form">
  <div class="login-div">
    <div>
    <label for="email-login">email:</label>
    <input type="text" id="email-login"/>
  </div>
    <div>
      <label for="password-login" class="password-label">password:</label>
      <input type="password" id="password-login" />
    </div>
  </div>
  <div>
    <button class="button" type="submit">login</button>
  </div>
</form>

<h2>SignUp</h2>
<form class="signup-form">
  <div>
    <label for="name-signup">name:</label>
    <input type="text" id="name-signup" />
  </div>
  <div>
    <label for="email-signup">email:</label>
    <input type="text" id="email-signup" />
  </div>
  <div>
    <label for="password-signup" class="password-label">password:</label>
    <input type="password" id="password-signup" />
  </div>
  <div>
    <button class="button" type="submit">signup</button>
  </div>
</form>

<script src="./js/login.js"></script>