<h1 class="login-page">LOGIN PAGE</h1>

<h2>Login</h2>
<link rel="stylesheet" href="./css/login.css">
<form class="login-form">
  <div class="login-div">
    <div>
    <label for="email-login">email:</label>
    <input type="text" id="email-login"/>
  </div>
    <div>
      <label for="password-login" class="password-label">password:</label>
      <input type="password" id="password-login" />
    </div>
  </div>
  <div>
    <button class="button" type="submit">login</button>
  </div>
</form>

<h2>SignUp</h2>
<form class="signup-form">
  <div>
    <label for="name-signup">name:</label>
    <input type="text" id="name-signup" />
  </div>
  <div>
    <label for="email-signup">email:</label>
    <input type="text" id="email-signup" />
  </div>
  <div>
    <label for="password-signup" class="password-label">password:</label>
    <input type="password" id="password-signup" />
  </div>
  <div>
    <button class="button" type="submit">signup</button>
  </div>
</form>

{{!-- <p>Join our book club website and dive into a world where books come to life! By signing up, you'll connect with a community of fellow readers who share your passion. Enjoy connecting with other club users, scheduling meetings, discussions, and of course reading together with other like minded individuals. It's not just about reading! It's about discovering new stories, sharing your thoughts, and making new friends along the way. Jump in and let's make your reading journey unforgettable together!</p> --}}

<script src="./js/login.js"></script>