{{!-- Google Fonts --}}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">

  {{!-- css  --}}
<link rel="stylesheet" type="text/css" href="/css/profile.css">
<link rel="stylesheet" type="text/css" href="/css/newBookClub.css">

{{!-- section for tabs/books --}}
<section class="clubs-section-container">
  <div class="clubs-title"><h3>Book Clubs</h3></div>
  <section class="clubs-section shadow1">

    {{!-- Template --}}
{{!-- <template id="bookClubTemplate">
  <div class="club-container">
    <h3></h3>
    <p class="members"></p>
  </div>
</template> --}}



{{!-- Here's an example club card to be recreated for each club the user is a part of --}}
    {{#each Clubs as |bookClub|}}
    <a href="/bookclub/{{bookClub.id}}">
      <div class="club-container">
        <h3>{{bookClub.name}}</h3>
        Description: {{bookClub.description}}
      </div>
    </a>
    {{/each}}
  
  <button id="start-new-bc-btn">Start a New Book Club</button>
  
{{!-- 
      <div class="club-container">
      <h3>Group Name</h3>
      Members: Emmalyn, Isaac, Walter, Leo
    </div>
      <div class="club-container">
      <h3>Group Name</h3>
      Members: Emmalyn, Isaac, Walter, Leo
    </div> --}}

  </section>
  
{{!-- New Club Form --}}
  <form id="newClubForm" style="display: block;">
    <label for="clubName">Club Name</label>
    <input type="text" id="newClubName" name= "clubName" placeholder="Club Name" required>

    <label id="description" for="description">Description</label>
    <input name="description" id="newClubDescription" placeholder="Description" required></input>
  
    <button id="addBookClubBtn" class="new-book-club-btn" type="submit">Create New Book Club</button>
  </form>
  
</section>

{{!-- <div class="button-container">
  <button id = "club-search-btn">Join a Book Club</button>
  <button id="start-new-bc-btn">Start a New Book Club</button>
</div> --}}

{{!-- <div id="book-club-search">
  <input type="text" id="search-input" placeholder="Search for Book Clubs">
  <button id="search-button">Search</button>
</div> --}}

<script src="./js/profile.js"></script>