<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Book Buddies</title>
</head>
{{!-- Google Fonts --}}
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Rubik+Bubbles&display=swap" rel="stylesheet">

  {{!-- css  --}}
  <link rel="stylesheet" type="text/css" href="/css/profile.css">
  <link rel="stylesheet" type="text/css" href="/css/newBookClub.css">




{{!-- <h1>PROFILE PAGE</h1> --}}
<body>
{{!-- section for tabs/books --}}
<section class="clubs-section-container">
  <div class="clubs-title"><h3>My Book Clubs</h3></div>
  <section class="clubs-section shadow1">

{{!-- Here's an example club card to be recreated for each club the user is a part of --}}
    <div class="club-container">
      <h3>Group Name</h3>
      Members: Emmalyn, Isaac, Walter, Leo
    </div>
      <div class="club-container">
      <h3>Group Name</h3>
      Members: Emmalyn, Isaac, Walter, Leo
    </div>
      <div class="club-container">
      <h3>Group Name</h3>
      Members: Emmalyn, Isaac, Walter, Leo
    </div>

  </section>
{{!-- New Club Form --}}
  <form id="newClubForm" style="display: none;">
    <label id="clubName" for="clubName">Club Name</label>
    <input type="text" id="clubName" name= "clubName" required>

    <label id="description" for="description">Description</label>
    <input name="description" id="description" required></input>

    <label id="members" for="members">Members</label>
    <input type="text" id="members" name="members" placeholder="Names">

    <button class="new-book-club-btn" type="submit">Create New Book Club</button>
  </form>
</section>

<div class="button-container">
  <button id = "club-search-btn">Join a Book Club</button>
  <button id="start-new-bc-btn">Start a New Book Club</button>
</div>

<script src="./js/profile.js"></script>

</body>

</html> 