<link rel="stylesheet" type="text/css" href="/css/profile.css">
{{!-- <h1>PROFILE PAGE</h1> --}}

{{!-- section for tabs/books --}}
<section class="clubs-section-container">
  <div class="clubs-title"><h3>My Book Clubs</h3></div>
  <section class="clubs-section shadow1">

{{!-- Here's an example club card to be recreated for each club the user is a part of --}}
    <div class="club-container">
      <h3>Group Name</h3>
      Members: Emmalyn, Isaac, Walter, Leo
    </div>
      <div class="club-container">
      <h3>Group Name</h3>
      Members: Emmalyn, Isaac, Walter, Leo
    </div>
      <div class="club-container">
      <h3>Group Name</h3>
      Members: Emmalyn, Isaac, Walter, Leo
    </div>

  </section>
{{!-- New Club Form --}}
  <form id="newClubForm" style="display: none;">
    <label for="clubName">Club Name</label>
    <input type="text" id="clubName" name= "clubName" required>

    <label for="description">Description</label>
    <textarea name="description" id="description" required></textarea>

    <label for="members">Members</label>
    <input type="text" id="members" name="members" placeholder="Separate names with commas">

    <button type="submit">Create New Book Club</button>
  </form>
</section>

<div class="button-container">
  <button>Join a Book Club</button>
  <button id="start-new-bc-btn">Start a New Book Club</button>
</div>

<script src="./js/profile.js"></script>