
#title {
    text-align: center;
    margin-left: 30px;
    margin-right: 30px;
}


#search {
    text-align: center;
    color: rgb(132, 201, 224);

}

#club-info {
    text-align: center;
    margin: auto;
}

#club-name {
    text-align: center;
    margin: auto;
    
}