#search-input {
  margin-left: 20px;
  margin-top: 80px;
  display: block;
}

#search-button {
  background-color: var(--teal1);
  color: white;
  border-radius: 5px;
  width: 93%;
  padding: 7px;
  margin-left: 20px;
  margin-top: 20px;
}

#search-button:hover{
  opacity: 0.6;
}

#newClubForm {
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  margin: auto;
  margin-left: 250px;
  margin-bottom: 150px;
  border: 5px solid none;
  border-radius: 40px;
  background-image: linear-gradient(rgb(145, 225, 251), rgb(200, 97, 229));
  padding: 50px;
  text-align: center;
  width: 50%;
  height: 300px;
}

#newClubForm label {
  display: block;
  text-align: center;
  font-family: 'Inter';
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 5px;
}

#newClubForm input,
#newClubForm textarea {
  width: 98%;
  padding: 5px;
  margin-bottom: 10px;
  align-items: center;
  font-family: 'Inter';
  font-weight: bold;
}

#clubName, #description, #members {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  text-align: center;
  align-items: center;
  
  
}

.new-book-club-btn {
  background-color: var(--teal1);
  color: white;
  border-radius: 5px;
  padding: 10px 20px;
  margin-top: 25px;
}

.new-book-club-btn:hover {
  cursor: pointer;
  background-color: rgb(1, 135, 135);
}



