body {
  background-color: var(--gray-lightest);
}

main {
  display: flex;
}

.books-section {
  flex-grow: 2;
  /* background-color: var(--light); */
  /* min-height: 600px; */
  margin: 0 8px;
  /* border: 1px solid black; */
}

.clubs-section {
  flex-grow: 1;
  background-color: var(--light);
  min-height: 600px;
  margin: 0 8px;
  border: 1px solid black;
}



/* Style the tab */
.tabs {
  overflow: hidden;

}

/* Style the buttons that are used to open the tab content */
.tabs button {
  background-color: var(--teal2);
  float: left;
  border: none;
  /* outline: none; */
  cursor: pointer;
  padding: 10px 36px 5px;
  transition: 0.3s;
  border-radius: 36px 36px 0 0;
  margin-right: 8px;
  font-family: jost, sans-serif;
  color: var(--dark);
  font-size: 16px;
}

/* Change background color of buttons on hover */
.tabs button:hover {
  background-color: #66d0ce;
}

/* Create an active/current tablink class */
.tabs button.active {
  background-color: var(--teal1);
  color: var(--light)
}

/* Style the tab content */
.tab-content {
  display: none;
  background-color: var(--light);
  box-shadow: 0 0 4px #77777729;
  padding: 6px 12px;
  min-height: 500px;
}