main {
  display: flex;
}

.clubs-section-container {
  flex-grow: 1;
  margin: 0 8px;
}

.clubs-title {
  background-color: var(--teal1);
  color: var(--light);
  border-radius: 36px 36px 0 0;
  padding: 20px 0 1px;
  text-align: center;
  Width: 300px;
}

.clubs-section {

  background-color: var(--light);
  padding: 6px 12px;
  min-height: 330px;
}

.club-container {
  padding: 16px 20px;
  border-bottom: 1px solid var(--gray-mid);
  transition: .2s;
}

.club-container:hover {
  background-color: var(--gray-lightest);
  cursor: pointer;
}

.clubs-section a {
  margin: 0px;
}

/* .button-container {
  display: flex;
  flex-direction: column;
  padding-top: 40px;
} */

button {
  background-color: var(--gray-mid);
  font-size: 18px;
  /* height: 160px; */
  /* width: 160px; */
  margin: 10px;
  border-radius: 36px;
  padding: 4px 16px;
}

button:hover {
  background-color: var(--teal2);
}