main {
  display: flex;
}

.books-section {
  flex-grow: 1;
  margin: 0 8px;
}

.clubs-section {
  flex-grow: 1;
  min-height: 500px;
  margin: 0 8px;
  background-color: var(--light);
  border-radius: 36px 36px 0 0;
}

.clubs-top {
  background-color: var(--purple);
  color: var(--light);
  /* height: 36px; */
  border-radius: 36px 36px 0 0;
  padding: 10px 0 5px;
  text-align: center;
  font-size: 16px;
}

/* Styles for the tabs and content */
.tabs {
  display: flex;
}

.tabs button {
  background-color: var(--teal2);
  float: left;
  border: none;
  cursor: pointer;
  padding: 10px 36px 5px;
  transition: 0.3s;
  border-radius: 36px 36px 0 0;
  margin-right: 8px;
  font-family: jost, sans-serif;
  color: var(--dark);
  font-size: 16px;
}

.tabs button:hover {
  background-color: #66d0ce;
}

.tabs button.active {
  background-color: var(--teal1);
  color: var(--light)
}

.tab-content {
  display: none;
  background-color: var(--light);
  padding: 6px 12px;
  min-height: 500px;
}