:root {
  --light: #ffffff;
  --dark: #000000;
  --purple: #513999;
  --teal1: #17bebb;
  --teal2: #96dbe3;
  --gray-lightest: #f7f9fc;
  --gray-mid: #dde8f5;
  --yellow: #ffba49;
  --input: #e0f1f4;
}

/* General Styles */
body {
  background-color: var(--gray-lightest);
  font-family: Jost, sans-serif;
  font-size: 16px;

}

main {
  margin: 40px 10%;
}

p, a {
  margin: 4px;
  line-height: 1.5;
}

h1, h2, h3, h4 {
  font-family: Aleo, serif;
  margin-bottom: 12px;
}

h1 {
  font-size: 220%;
}

h2 {
  font-size: 150%;
}

h3 {
  font-size: 140%;
}

strong {
  font-weight: bold;
}

.shadow1 {
  box-shadow: 0 0 4px #77777729;
}

.line-horizontal {
  background-color: var(--gray-mid);
  height: 1px;
  margin: 30px auto;
}

.spacer {
  height: 20px;
}

.center-flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  font-family: jost, sans-serif;
  font-size: 16px;
  border: none;
  cursor: pointer;
  transition: .2s;
}

.button1 {
  background-color: var(--gray-mid);
  padding: 8px 16px;
  border-radius: 6px;
}

.button1:hover {
  background-color: var(--yellow)
}

/* If we use other input methods, this'll apply to all types and might be weird. RN the only input type is text field. */
input {
  /* height: 28px; */
  width: 260px;
  padding: 7px 12px;
  font-family: jost, sans-serif;
  font-size: 16px;
  border-radius: 6px;
  border: 2px solid var(--input);
  background-color: var(--input);
}

input:focus {
  outline: none;
  border: 2px solid var(--teal2);
}

/* Header styles */
header {
  color: var(--light);
}

header h2 {
  color: var(--teal2);
}

.header-top {
  background-color: var(--purple);
  padding: 46px 10% 30px;
  box-shadow: 0 0 5px #ff0000;
}

.title-sub-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 240px;
  margin: auto;
}

.title-sub-container h1, .title-sub-container h2 {
  margin: 0;
  line-height: 1;
}

.login-out-container {
  color: var(--gray-mid);
  display: flex;
  position: absolute;
  top: 10px;
  right: 5%;
}

.header-bottom {
  background-color: var(--gray-mid);
  background-image: url(../images/dash-background.png);
  background-size: cover;
  background-position: 50% 0%;
  height: 40px;
  z-index: -1;
}